* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    
}

#date {
    text-align: center;
    margin-top: 2.5rem;
    color: #f0e516;
    background-color: rgba(0, 0, 0, 0.751);
    font-size: 1.8rem;
    font-weight: 200; 
    text-transform: uppercase; 
    height: 19vh;
    width: 12vw;
    border-radius: 18px;
    top: 2%;
    align-items: center;
    padding: 0.9rem;
   margin-left: 0.5%;
    margin-top: 17%;
}

#container {
    
    height: 100vh;
    width: 100%;
    position: relative;
   
     background-image: url('https://images.pexels.com/photos/3155661/pexels-photo-3155661.jpeg?auto=compress&cs=tinysrgb&w=1000'); 
background-repeat: no-repeat;
background-size: cover; 
background-position: center; 

      display: flex;
      justify-content: center;
}

#container #location {
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 8%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#container input {
    height: 50px;
    width: 300px;
    margin: 0px 20px;
    padding: 0 20px;
    left: 0%;
    border: none;
    outline: none;
    background: white;
    font-size: 20px;
    color: black;
    border-radius: 16px;
    position: relative;
}

#container input::placeholder {
    color: #000000d0;
}

#container input[type="submit"] {
    cursor: pointer;
    width: 150px;
    background: hsla(118, 95%, 46%, 0.816);
    color: white;
    font-weight: 700;
    font-size: 22px;
}

#tempIcon {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 35%;
    left: 60%;
    
}

#weatherCountry {
    font-size: 40px;
    position: absolute;
    top: 37%;
    margin-left: auto;
    margin-right: 20%;
}

#temperature {
    font-size: 45px;
    position: absolute;
    top: 45%;
    left: 40%;
}

#temperature b {
    color: red;
}

#weatherDescription {
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 42%;
    left: 62%;
}

#container ul {
    position: absolute;
    bottom: 17%;
    left: auto;
    right: auto;
    margin-right: 17%;
}

#container ul li {
    font-size: 20px;
    margin: 20px 0;
    list-style-type: none;
    margin-right: 5rem;
}

.features
{
    justify-content: center;
}

.flex
{
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 700px;
  height: 30rem;
  margin: 1em;
  margin-top: 14rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;

}

.h1
{
    margin-left: 16rem;
    margin-top: 22rem;
    font-size: 1.5rem;
    font-family: "myFirstFont"; 
}

@font-face {
    font-family: "myFirstFont"; 
    src: url("fonts/ticking-timebomb-bb.regular.ttf"); 
}
